
@{
    ViewBag.Title = "ForgetPassword";
    if(Session["member"] != null)
    {
        Layout = "~/Views/Shared/_LayoutMember.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    
    
}
<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
   
    <style>
        .form {
            background: rgba(255,255,255,0.8);
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
    </style>
</head>
<body>
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-success">@ViewBag.msg</div>
    }
    @if (ViewBag.ChangePassword != null)
    {
        <div class="alert alert-success">@ViewBag.ChangePassword</div>
    }
    <div class="container-fluid body-content" style="margin-top: 250px">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <form class="form" method="post" autocomplete="off" novalidate>
                    <div class="row">
                        <div class="col-12" style="color:red" align="center">
                            @ViewBag.Message
                        </div>
                        <!--帳號-->
                        <div class="col-12">
                            <label for="Email" class="form-label">帳號</label>
                            <input type="text" class="form-control" id="Account" name="Account" placeholder="請輸入帳號" required>
                            <div class="invalid-feedback">
                                帳號為必填。
                            </div>
                        </div>
                        <!--電子郵件-->
                        <div class="col-12">
                            <label for="Email" class="form-label">電子郵件</label>
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="請輸入e-mail" required>
                            <div class="invalid-feedback">
                                e-mail為必填。
                            </div>
                        </div>
                        <!--驗證碼-->
                        <div class="col-12">
                            <label for="Password" class="form-label">驗證碼</label>
                            <div class="form-inline">
                                <input type="text" class="form-control" id="CAPTCHA" name="CAPTCHA" placeholder="請輸入驗證碼" required>
                                <button type="submit" class="btn btn-primary" name="Verify">獲取驗證碼</button>
                            </div>
                            <div class="invalid-feedback">
                                驗證碼為必填。
                            </div>
                        </div>
                        <!--設定新密碼-->
                        <div class="col-12">
                            <label for="Password" class="form-label">設定新密碼</label>
                            <input type="text" class="form-control" id="Password" name="Password" placeholder="請輸入新密碼" required>
                            <div class="invalid-feedback">
                                新密碼為必填。
                            </div>
                        </div>
                        <div class="form-group col-12" align="center">
                            <button type="submit" class="btn btn-primary" name="Confirm" align="center">確認</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</body>
</html>

