@section AddToHead{
    <link href="~/Content/login.css" rel="stylesheet" />
    }
<div class="container-fluid body-content" style="margin-top: 250px">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <p class="h2 text-xl-center" style="color:white">會員登入</p>
            <form class="form" method="post" action="@Url.Action("Login","Main")" novalidate id="LoginForm" autocomplete="off">
                <div class="row">
                    <div class="col-12" style="color:red" align="center">
                        @ViewBag.Message
                    </div>
                    <!--帳號-->
                    <div class="col-12">
                        <label for="Account" class="form-label">帳號</label>
                        <input type="text" class="form-control" id="Account" name="UserId" placeholder="請輸入帳號" required>
                        <div class="invalid-feedback">
                            帳號為必填。
                        </div>
                    </div>
                    <!--密碼-->
                    <div class="col-12">
                        <label for="Password" class="form-label">密碼</label>
                        <input type="text" class="form-control" id="Password" name="UserPassword" placeholder="請輸入密碼" required>
                        <div class="invalid-feedback">
                            密碼為必填。
                        </div>
                    </div>
                    <!--記住我-->
                    <div class="col-12">
                            <a href="@Url.Action("ForgetPassword","Main")" value="忘記密碼?" style="color:black">
                                忘記密碼?
                            </a>
                    </div>
                    <div class="form-group col-12" align="center">
                        <button type="submit" class="btn btn-primary" align="center">登入</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<hr />
