
.figure {
    position: relative;
    display: inline-block;
    width: 400px;
}

.figure img {
    width: 100%
}

h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    font-family: Open Sans, sans-serif;
    opacity: 0;
    transition: all 1s ease 0.5s;/*增加文字速度*/
}

.figure:hover h1 {
    /*0變1的過程transition*/
    opacity: 1;
}

.figure .span1:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    width: 90%;
    height: 5px;
    background-color: transparent;
    margin: 0 auto;
}

.figure .span1:after {
    content: '';
    position: absolute;
    top: 5%;
    right: 5%;
    width: 5px;
    height: 90%;
    background-color: transparent;
    margin: 0 auto;
}

.figure .span2:before {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    width: 90%;
    height: 5px;
    background-color: transparent;
    margin: 0 auto;
}

.figure .span2:after {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 5px;
    height: 90%;
    background-color: transparent;
    margin: 0 auto;
}

.figure:hover .span1:before {
    animation: border-top 0.3s linear;
    transform-origin: left;
    background-color: forestgreen;
}

@keyframes border-top {
    0% {
        transform: scaleX(0);
    }
}

.figure:hover .span1:after {
    animation: border-right 0.6s linear;
    transform-origin: top;
    background-color: forestgreen;
}

@keyframes border-right {
    0%, 50% {
        transform: scaleY(0);
    }
}

.figure:hover .span2:before {
    animation: border-bottom 0.9s linear;
    transform-origin: right;
    background-color: forestgreen;
}

@keyframes border-bottom {
    0%, 75% {
        transform: scaleX(0);
    }
}

.figure:hover .span2:after {
    animation: border-left 1.2s linear;
    transform-origin: bottom;
    background-color: forestgreen;
}

@keyframes border-left {
    0%, 80% {
        transform: scaleY(0);
    }
}
