<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>


</head>
<body>

    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            商品分類
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">多肉植物</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">小型植栽</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">大型植栽</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">鮮花花材</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">農藝用品</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            商品分類
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">多肉植物</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">小型植栽</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">大型植栽</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">鮮花花材</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">農藝用品</a>
                                </li>
                            </ul>
                        </a>
                    </li>
                 </ul>
            </div>
            <div class="col-8">
            @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <div class="row" style="color:white">
                <div class="col-sm-0 col-md-0 col-lg-1 col-xl-1"></div>
                <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                    付款方式<br>
                    <a href="#">分期付款</a><br>
                    <a href="#">郵局匯款</a><br>
                    <a href="#">線上支付</a><br>
                    <a href="#">公司轉帳</a>
                </div>
                <div class="col-sm-12 col-md-0 col-lg-1 col-xl-2">&ensp;</div>
                <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                    會員中心<br>
                    <a href="#">會員修改密碼</a><br>
                    <a href="#">會員修改個人資料</a><br>
                    <a href="#">修改收貨地址</a><br>
                    <a href="#">售後服務</a>
                </div>
                <div class="col-sm-12 col-md-0 col-lg-1 col-xl-2">&ensp;</div>
                <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
                    聯絡資訊<br>
                    <div>電話 : <a href="tel:+886-918******">07-0000000</a></div>
                    <div>傳真 : <a>暫不提供</a></div>
                    <div>地址 : <a href="https://www.google.com.tw/maps/place/Kaohsiung" target="_blank">高雄市OO區OO路OO號</a></div>
                    <div>E-mail : <a href="mailto: fake_email_address@gmail.com">Fake-Email-Address</a></div>
                </div>
                <div class="col-sm-0 col-md-6 col-lg-1 col-xl-1"></div>
            </div>
            <p>&copy; @DateTime.Now.Year - JaWei ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
