
@{
    if (Session["member"] != null)
    {
        Layout = "~/Views/Shared/_LayoutMember.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<style>
    body {
        background-color: black
    }
</style>
<body>
    <br><br>
    <div class="row">
        <!--關於我們-->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="h2" style="color:white;margin-top:20px" align="center">關於我們</p><br>
            <h5 class="Aboutus" style="color:white">
                濰濰植物網是由長期經營植物的電商集團 ，於2016年推出第一家實體店面 ，對於
                植物的熱情，點點滴滴化為濰濰植物網的核心價值，希望帶給各位漂亮美觀的植物。
                濰濰植物網提供不同種類的植物、平價消費給廣大消費者 ，並以良好的口碑持續保持優良品質與不斷創新
                2018年集團進軍國際市場、台灣百貨商場、開發中大型單店，短短兩年期間 ，主打高CP值、高品質的植物產品
                ，並以顧客至上的服務為導向 ，成為代表台灣文化的特色品牌之一。
            </h5>
        </div>
        <!--公司地址-->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="h2" style="color:white;margin-top:20px" align="center">公司地址</p><br>
            <h5 class="CompanyAddress" style="color:white">
                本公司坐落於蓮池潭正中心，因為真的想不到要標哪裡只好標蓮池潭，假設濰濰植物網真的座落於此，如要抵達至本公司可以搭乘
                1.公車
                乘坐公車301、紅35、紅51A、紅51B、紅51C到蓮池潭站下車。
                乘坐8021到春秋閣站下車
                乘坐舊城文化公車到聖崇祠下車。
                2.捷運
                搭乘捷運紅線至左營站（R16）即可到達蓮池潭。
                3.火車
                可搭乘火車到左營站和新左營站下車，之後步行約10分鐘到。
            </h5>
            <iframe width="600"
                    height="450"
                    style="border:0;display:block;margin:auto"
                    loading="lazy"
                    allowfullscreen
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDiw_Wen5Pi8chbrT0rJVKPJ3YMU-E1HXQ&q=高雄市蓮池潭">
            </iframe>
        </div>
        <!--聯絡我們-->
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p class="h2" style="color:white;margin-top:20px" align="center">聯絡我們</p><br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <!--電子郵件-->
                 <div class="col">
                        <div class="card" style="max-width: 400px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="mailto: fake_email_address@gmail.com">
                                        <img src="~/Images/Email.png" class="card-img-top" alt="...">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a href="mailto: fake_email_address@gmail.com">
                                            <h5 class="card-title">電子郵件</h5>
                                        </a>
                                        <p class="card-text">
                                            請將您的寶貴意見以填寫表單方式送出，
                                            我們將於工作日由專人以郵件回覆您的問題。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--數位客服-->
                <div class="col">
                    <div class="card" style="max-width: 400px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="#">
                                <img src="~/Images/CustomerService.png" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="#">
                                    <h5 class="card-title">數位客服</h5>
                                    </a>
                                    <p class="card-text">
                                        供更加值且即時的服務，服務範圍包括高鐵營運相關問題諮詢及個人化服務申請與查詢。<hr>
                                        文字客服專員服務時段06:00~24:00。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--客服專線-->
                <div class="col">
                    <div class="card" style="max-width: 400px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <a href="tel:+886-918******">
                                <img src="~/Images/PhoneNumber.png" class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="tel:+886-918******">
                                    <h5 class="card-title">客服專線</h5>
                                    </a>
                                    <p class="card-text">以上為付費電話，依一般市話及行動電話費率標準計費。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>